# Environnement Python
venv/

# Base vectorielle (trop lourde pour GitHub)
vectordb/

# Clés API
.env

# Cache Python
__pycache__/
*.pyc

# Cache HuggingFace
.cache/

# clé api GROQ
GROQ_API_KEY="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"